.longe-bordas{
    background-color: #FFA6A9;
    padding: 10px;
  }
  
  .afastado{
    background-color: #77C0ED;
    margin-left: 100px;
    margin: 10px 5px 30 px 70 px;
  }
  .alto{
    background-color: #C3E887;
    height: 300px;
  }
  
  .largo{
  background-color: #FFE396;
  width: 500px;
  }
  
  .bordado{
    background-color: #AF9BCC;
    border: 5px solid #FFA6A9;
  }
  
  .sumido{
    display: none;
  }